<!DOCTYPE html>
<!-- Agregamos los namespace de thymeleaf -->
<html  xmlns ="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<!-- Se replica lo que se encuentra en la seccion de head del index -->
<head th:replace="index :: head">
    <title>Agregar</title>
</head>
<body>
<!-- Se replica lo que se encuentra en la seccion de header del index -->
   <header th:replace="index :: header"></header>
   <div class="container mt-4">
    <div class="col-sm-6">
            <!-- th:object="${usuario}  con esto relacionamos el obejto de tipo usuario del controlador.
        -- Mediante el path @{/usuario/guardar}  se enviala informacion  al controlador-->
            <form th:action="@{/usuario/guardar}" method="post" th:object="${usuario}">
                <div class="card">
                    <div class="card-header" style="text-align:center;">
                        <h3 >Agregar usuario</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="cedula">Cedula</label>
                            <input type="text"  th:field="*{cedula}" class="form-control"/>
                        </div>
                        <div class="form-group" >
                            <label for="clave">Clave</label>
                            <input type="text" th:field="*{clave}" th:value="${usuario.clave}" class="form-control"/>
                        </div>   
                        <div class="form-group" >
                            <label for="nombre">Nombre</label>
                            <input type="text" th:field="*{nombre}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="number"  th:field="*{telefono}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"  th:field="*{email}" class="form-control"/>
                        </div>
                    </div>
                        <div class="card-footer">
                        <input class="btn btn-success" type="submit" name="guardar" value="Guardar">
                        <a th:href="@{/usuario/listar}" class="btn btn-info">Regresar</a>
                        <div>
                </div>
        </form>
    </div>
</div>
<!-- Se replica lo que se encuentra en la seccion de footer del index -->
<footer th:replace="index :: footer"></footer>
 <!--  Librerias de bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
 <!--  Librerias de fontawesome -->
<script src="https://kit.fontawesome.com/240d17eb81.js" crossorigin="anonymous"></script>
<!--  Librerias de jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>