<!DOCTYPE html>
<!-- Agregamos los namespace de thymeleaf -->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Se replica lo que se encuentra en la seccion de head del index -->
<head th:replace="index :: head">
    <title>Listar Docente</title>
</head>
<body>
    <!-- Se replica lo que se encuentra en la seccion de header del index -->
    <header th:replace="index :: header"></header>
   <div class="container mt-4">
     <!-- Se mostrar la accion de solo al rol correspondiente -->
    <a th:href="@{/docente/agregard}" class="btn btn-primary">Crear Docente</a>
     <!-- Decimos que si la tabla tiene algo lo muestre en la tabla -->
        <div th:if="${docentes != null and !docentes.empty}">
            <table class="table table-striped table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Blog</th>
                        <th>Profesional</th>
                        <th>Escalaron</th>
                        <th>Idioma</th>
                        <th>Años_exp</th>
                        <th>Area_trab</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Utlizamos foreac para iterar los valores que tiene nuestra tabla -->
                    <tr th:each="docente: ${docentes}"> 
                    <!-- Mostramos los valores que nos arroja el foreach -->
                        <th th:text="${docente.id_usuario}" scope="row" ></th>
                        <th th:text="${docente.nombre}" scope="row"></th>
                        <th th:text="${docente.apellido}" scope="row"></th>
                        <th th:text="${docente.blog}" scope="row"></th>
                        <th th:text="${docente.profesional}" scope="row"></th>
                        <th th:text="${docente.escalaron}" scope="row"></th>
                        <th th:text="${docente.idioma}" scope="row"></th>
                        <th th:text="${docente.anios_experiencia}" scope="row"></th>
                        <th th:text="${docente.area_trabajo}" scope="row"></th>
                          <!-- Mediante el path de docente/editar emviamos al contrallador lo que obtenemos del boton editar -->
                        <td><a th:href="@{/docente/editar/} + ${docente.id}" th:text="Editar" class="btn btn-info"></a></td>
                        <!-- Con este metodo enviamos a la funcion javaScript el valor que obtenemos de ${docente.id} -->
                        <td><a th:onclick="eliminarD([[${docente.id}]])" th:text="Eliminar" class="btn btn-danger"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Si la tabla esta vacia que muestre el mensaje  -->
        <div th:if="${docentes == null or docentes.empty}">
            La lista es vacia
        </div>
   </div>
   <!-- Se replica lo que se encuentra en la seccion de footer del index -->
   <footer th:replace="index :: footer"></footer>
       <!--  Librerias de bootstrap -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
   <!--  Librerias de fontawesome -->
   <script src="https://kit.fontawesome.com/240d17eb81.js" crossorigin="anonymous"></script>
   <!--  Librerias de jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--  Librerias de sweetalert -->
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    <!-- Ruta donde se encuetran las funciones de javaScript -->
   <script src="../funciones.js"></script>   
</body>
</html>